<h1>Welcome to Diary App</h1>

<div>
  <form action='/sign-up' method='get'>
    <input value='Sign Up' type='submit' name='sign-up'>
  </form>
</div>

<div>
  <form action='sign-in' method='get'>
    <input value='Log In' type='submit' name='log_in'>
  </form>
</div>

<form action='/diary' method='get' >
  <input value='To Diary' type='submit'>
</form>