<h1>Add new Diary Entry</h1>

<form action='/diary-submit' method='post' >
  <input placeholder='Title' type='text' name='title' >
  <input placeholder='Diary entry' type='text' name='body' >
  <input value='Add new Diary' type='submit' name='submit-diary' >
</form>

<form action='/diary' method='get' >
  <input value='Back To Diary' type='submit' name='/diary' >
</form>